# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Sistema
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp

# Build / dist
dist/
build/

# Docs temporários
docs/*.tmp
